<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Privacy Policy</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div>
    <p>Your privacy is important to us, and we are committed to protecting it.</p>
    <p>This Privacy Policy explains how the following applications do not collect, use, or disclose any user data in any form or method:</p>
    <li>Tools of Fantasy</li>
    <li>Helper Star Rail</li>
    <h3>Data Collection</h3>
    <p>We do not collect any personal information or user data.</p>
    <p>Any information that is inputted on our apps is stored locally and is not collected in any way.</p>
    <h3>Usage of Information</h3>
    <p>Since no user data is collected, there is no information to use or disclose.</p>
    <p>We do not track your activity within the app or gather any data related to your usage.</p>
    <h3>Third-party Access</h3>
    <p>We do not share any user data with third parties as there is no data collected to share.</p>
    <h3>Security</h3>
    <p>While no data is collected, we still prioritize the security of our app to ensure a safe and secure experience for our users.</p>
    <h3>Changes to Privacy Policy</h3>
    <p>In the event that any changes are made to this Privacy Policy, they will be updated here.</p>
    <br>
    <p>By using any of the following applications:</p>
    <li>Tools of Fantasy</li>
    <li>Helper Star Rail</li>
    <p>You agree to the terms outlined in this Privacy Policy.</p>
    <p>If you have any questions or concerns about our privacy practices, please contact us at <a href="mailto://support@nandakho.my.id">support&#64;nandakho.my.id</a></p>
    <br><br>
    <p class="footnote">Last updated: Feb 16, 2024</p>
  </div>
</ion-content>